#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 175, 175);
  padding: 10px;
  box-shadow: 0px 0px 90px 10px rgb(168, 168, 168);
  border-radius: 80px;
}

.nav-child {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#logo {
  height: 100px;
}

#logo-title {
  font-size: 30px;
  font-family: "Cereal_ExtraBold";
  color: #FF5A5F;
  margin: 0;
}

#sell-title {
  font-size: 20px;
  font-family: "Cereal_ExtraBold";
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

#sell-icon{
  height: 50px;
  padding: 10px;
  cursor: pointer;
}
