@font-face {
  font-family: "Cereal_ExtraBold";
  src: url("./fonts/Cereal_Bold.otf");
}
@font-face {
  font-family: "Cereal_Bold";
  src: url("./fonts/Cereal_Bold.otf");
}
@font-face {
  font-family: "Cereal_Light";
  src: url("./fonts/Cereal_Light.otf");
}

body{
  background: rgb(238, 238, 238);
}