#search-parent{
  border: 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

#search-bar{
  border: none;
  border-radius: 100px;
  background-color: rgb(145, 145, 145);
}

::placeholder{
  color: black;
  opacity: 50%;
}